@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.bag-by {
    background-image: linear-gradient(180deg, #f5f5fa26 6.08%, #fcfcfe 100%);
}

.footer_bg {
    background-image: linear-gradient(327.15deg, rgba(0, 117, 200, 0.8) 19.99%, rgba(62, 159, 227, 0.8) 79.57%);
}
/* .wht_bgtick {
    list-style-image: url("/assets/wht_bgtick.png");
   
} */
.wht_bgtick {
    background: url("/assets/wht_bgtick.png") no-repeat left center;
    padding-left: 30px;
    vertical-align: middle;
}
.wht_bgticks {
    background: url("/assets/wht_bgtick.png") no-repeat left top;
    padding-left: 30px;
    vertical-align: middle;
}
.red_cross {
    /* list-style-image: url("/assets/x_cross.png"); */
    background: url("/assets/x_cross.png") no-repeat left center;
    padding-left: 30px;
    vertical-align: middle;
}

.blu_bgtick {
    /* list-style-image: url("/assets/blu_bgtick.png"); */
    background: url("/assets/blu_bgtick.png") no-repeat left center;
    padding-left: 30px;
    vertical-align: middle;
}
.blu_bgticks {
    background: url("/assets/blu_bgtick.png") no-repeat left top;
    padding-left: 30px;
    vertical-align: middle;
}
.shadow_blue {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.projects {
    color: rgba(111, 124, 178, 1);
}

#radio-1:checked ~ label.first {
    color: white;
}

#radio-2:checked ~ label.second {
    color: white;
}
#radio-3:checked ~ label.third {
    color: white;
}
#radio-4:checked ~ label.fourth {
    color: white;
}
#radio-1:checked ~ span.glider {
    transform: translateX(0);
}

#radio-2:checked ~ span.glider {
    transform: translateX(100%);
}

#radio-3:checked ~ span.glider {
    transform: translateX(200%);
}
#radio-4:checked ~ span.glider {
    transform: translateX(300%);
}

.active svg {
    transform: rotate(45deg);
}
.accordion svg {
    transition-duration: 800ms;
}
